/* Comentario */
elemento {
    background: red;
    text-align: center;
    font-size: 10px;
    margin: 10%;
    background: red;
}

elemento2 {
    background: red !important;
}
.clase {}

elemento, .clase, .clase.subclase, ps:class, ps::elem, .c.s .n {}