/* Comentario */
elemetno2 {
    background: red !important;
}

elemento {
    background: red;
    text-align: center;
    font-size: 10px;
    margin: 10%;
    background: red;
}

.clase {
    text-align: center;
    text-align: right;
}

elemento, .clase, .clase.subclase, ps:class, ps::elem, .c.s .n {}