/* Comentario */
elemento {
    background: red;
    text-align: center;
    font-size: 10px;
    margin: 10%;
}

.clase {}

.clase.subclase {}

.clase.subclase .sub-elemento {}

elem:pseudoclase {}

elem::pseudoelemento {}

elemento, .clase, .clase.subclase, ps:class, ps::elem, .c.s .n {}